.Container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Title {
  flex: 0 0 100px;
  padding: 0 200px;
  display: flex;
  background-color: #555d68;
  align-items: center;
  justify-content: center;
}

.Content {
  flex: 1;
  display: flex;
}

.Slider {
  background-color: #34373b;
  flex: 0 0 250px;
}

.Main {
  flex: 1;
  position: relative;
}

.Box {
  position: absolute;
  top: 0;
  background-color: #9b9ead;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button {
  cursor: pointer;
  margin: 0.5rem;
  margin-bottom: 0;
  color: #000;
  text-align: center;
  padding: 0.3rem;
  background-color: #fff;
}

.Table {
  width: 100%;
}

.Table tr {
  text-align: center;
  margin: 1rem;
}
